.saved-chats-container {
  background-color: #FFFFFA;
  height: 100%;
  width: 100%
}

/* .saved-chats-heading {
  font-size: 1.5rem !important;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
} */

.new-chat-btn {
  background-color: #BF0000;
  color: #FFFFFA;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100% !important;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}

.new-chat-btn:hover {
  background-color: #BF0000;
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.saved-chat-btn {

  background-color: #fff;
  border: 2px solid black;
  color: #000;
  border-radius: 6px;
  padding: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
}

.saved-chat-btn:hover {
  background-color: #e6ffff;
  border-color: #BF0000;
}

